---
import { getBlogs, getBlogDetail } from '../library/microcms'
const response2 = await getBlogs({ fields: ["id", "title", "thumbnail", "tag", "publishedAt","article_ref","article_ref_link", "article_name", "article_summary", "article_link"] })
export async function getStaticPaths(){
    const response = await getBlogs({fields: ["id"]})
    return response.contents.map((content)=>({
        params:{
            blogId: content.id
        }
    }))
}
const { blogId } = Astro.params;
const blog = await getBlogDetail(blogId);
const blog_url = "https://miratel.netlify.app/"+blog.id+"/"
const sns_share = "https://twitter.com/share?url="+blog_url+"&text="+blog.title
                             


import Layout from '../layouts/Layout.astro';
import ArticleList from '../components/ArticleList.astro';
---

<Layout 
    title={blog.title}  
    URL = {blog_url}
    ogptitle={blog.title}  
    description={blog.title}  
    sns_img={blog.thumbnail.url}
    type="website"
>
<main class="main">
  <div class="pan">
    <ul class="pan-list">
      <li class="pan-item">
        <a href="/" class="pan-item-link">記事トップ</a>
      </li>
      <li class="pan-item">
        <a href="" class="pan-item-link" id="js-pan-label">{blog.title}</a>
      </li>
    </ul>
  </div>
  <div class="main-inner">
    <nav class="article-pan">
      <ol class="article-panList">
        <li class="article-panList-item">
          <a href="/" class="article-panList-item-link">トップ</a>
        </li>
        <li class="article-panList-item" id="js-pan-label">
            {blog.title}
        </li>
      </ol>
    </nav>
    <article class="article">
      <div class="article-inner">
        <section class="article-box">
          <img src={blog.thumbnail.url} alt="" class="article-thumbnail">
          <div class="article-data">
            <p class="article-tag">{blog.tag}</p>
            <p class="article-publish">
              <time datetime={blog.publishedAt.substring(0, 10)}>公開日 : {blog.publishedAt.substring(0, 10)}</time>
            </p>
          </div>
          <h2 class="article-title">{blog.title}</h2>
          <div class="article-text" set:html={blog.content} />
          <div class="article-footer">
            <div class="article-footer-left">
              <button class="article-footer-left-btn">
                <svg class="article-footer-left-btn-icon" width="18" height="18" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11 5.04165L10.505 5.51832C10.5692 5.58486 10.6461 5.63778 10.7311 5.67393C10.8162 5.71008 10.9076 5.72871 11 5.72871C11.0925 5.72871 11.1839 5.71008 11.269 5.67393C11.354 5.63778 11.4309 5.58486 11.495 5.51832L11 5.04165ZM8.64054 16.7952C7.25087 15.6997 5.73196 14.63 4.52654 13.2733C3.34587 11.9423 2.52087 10.3904 2.52087 8.37557H1.14587C1.14587 10.8194 2.16337 12.6839 3.49896 14.1863C4.80979 15.6622 6.48179 16.8447 7.78896 17.875L8.64054 16.7952ZM2.52087 8.37557C2.52087 6.40474 3.63462 4.75107 5.15537 4.05532C6.63304 3.37974 8.61854 3.55849 10.505 5.51832L11.495 4.5659C9.25837 2.24032 6.65871 1.85624 4.58337 2.80499C2.55387 3.73357 1.14587 5.88957 1.14587 8.37557H2.52087ZM7.78896 17.875C8.25921 18.2453 8.76337 18.6395 9.27396 18.9383C9.78454 19.2372 10.3675 19.4792 11 19.4792V18.1042C10.7159 18.1042 10.3822 17.9942 9.96787 17.7512C9.55262 17.5092 9.12271 17.1756 8.64054 16.7952L7.78896 17.875ZM14.2111 17.875C15.5183 16.8437 17.1903 15.6631 18.5011 14.1863C19.8367 12.683 20.8542 10.8194 20.8542 8.37557H19.4792C19.4792 10.3904 18.6542 11.9423 17.4735 13.2733C16.2681 14.63 14.7492 15.6997 13.3595 16.7952L14.2111 17.875ZM20.8542 8.37557C20.8542 5.88957 19.4471 3.73357 17.4167 2.80499C15.3414 1.85624 12.7435 2.24032 10.505 4.56499L11.495 5.51832C13.3815 3.5594 15.367 3.37974 16.8447 4.05532C18.3655 4.75107 19.4792 6.40382 19.4792 8.37557H20.8542ZM13.3595 16.7952C12.8774 17.1756 12.4475 17.5092 12.0322 17.7512C11.617 17.9932 11.2842 18.1042 11 18.1042V19.4792C11.6325 19.4792 12.2155 19.2362 12.7261 18.9383C13.2376 18.6395 13.7409 18.2453 14.2111 17.875L13.3595 16.7952Z" fill="#636366"/>
                </svg>
                <p class="article-footer-left-btn-label">240</p>
              </button>
              <button class="article-footer-left-btn">
                <svg class="article-footer-left-btn-icon" width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.59195 15.304C2.34395 9.787 6.40296 3.75 12.36 3.75H12.681C14.8206 3.75053 16.8724 4.60072 18.3853 6.11365C19.8982 7.62658 20.7484 9.6784 20.749 11.818C20.7492 12.9976 20.5171 14.1657 20.0658 15.2556C19.6145 16.3454 18.9529 17.3357 18.1188 18.1698C17.2847 19.0039 16.2944 19.6655 15.2045 20.1168C14.1147 20.5681 12.9466 20.8003 11.767 20.8H3.94695C3.79158 20.8001 3.63999 20.752 3.51314 20.6623C3.38629 20.5725 3.29045 20.4456 3.23885 20.2991C3.18725 20.1525 3.18245 19.9935 3.2251 19.8441C3.26775 19.6947 3.35576 19.5622 3.47695 19.465L5.44795 17.882C5.4901 17.8482 5.52018 17.8018 5.5337 17.7495C5.54722 17.6972 5.54345 17.642 5.52295 17.592L4.59195 15.304ZM12.36 5.25C7.46695 5.25 4.13396 10.207 5.97995 14.738L6.91196 17.027C7.05396 17.3759 7.07957 17.7614 6.98498 18.126C6.89039 18.4907 6.68066 18.8151 6.38696 19.051L6.07796 19.3H11.767C12.7496 19.3003 13.7226 19.1069 14.6305 18.731C15.5384 18.3551 16.3633 17.804 17.0581 17.1092C17.7529 16.4143 18.304 15.5894 18.68 14.6815C19.0559 13.7737 19.2492 12.8006 19.249 11.818C19.2484 10.0762 18.5563 8.40593 17.3246 7.17431C16.093 5.94268 14.4227 5.25053 12.681 5.25H12.36Z" fill="#636366"/>
                </svg>		
                <p class="article-footer-left-btn-label">240</p>
              </button>
            </div>
            <div class="article-footer-right">
              <button class="article-footer-right-btn">
                <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.293 3.95994C13.7347 3.51114 14.2609 3.15422 14.8413 2.90977C15.4216 2.66532 16.0446 2.53818 16.6743 2.53568C17.304 2.53318 17.928 2.65537 18.5103 2.8952C19.0926 3.13503 19.6216 3.48775 20.0669 3.93304C20.5122 4.37832 20.8649 4.90735 21.1047 5.48962C21.3445 6.07189 21.4667 6.69587 21.4642 7.3256C21.4617 7.95532 21.3346 8.57831 21.0901 9.15866C20.8457 9.739 20.4888 10.2652 20.04 10.7069L17.01 13.7369L15.595 12.3239L18.625 9.29294C19.1448 8.77339 19.4369 8.06861 19.4371 7.33365C19.4373 6.5987 19.1455 5.89377 18.626 5.37394C18.1064 4.85412 17.4016 4.56198 16.6667 4.56179C15.9317 4.56161 15.2268 4.85339 14.707 5.37294L11.676 8.40394L10.262 6.98994L13.293 3.95994ZM15.413 9.99994L9.99797 15.4139L8.58397 13.9999L13.998 8.58595L15.413 9.99994ZM8.40297 11.6759L5.37297 14.7069C4.85315 15.2268 4.56111 15.9318 4.56111 16.6669C4.56111 17.4021 4.85315 18.1071 5.37297 18.6269C5.8928 19.1468 6.59783 19.4388 7.33297 19.4388C8.06811 19.4388 8.77315 19.1468 9.29297 18.6269L12.323 15.5959L13.737 17.0099L10.707 20.0399C9.81226 20.9348 8.59873 21.4376 7.33332 21.4376C6.06792 21.4377 4.85431 20.9352 3.95947 20.0404C3.06463 19.1457 2.56186 17.9322 2.56177 16.6668C2.56167 15.4014 3.06426 14.1878 3.95897 13.2929L6.98897 10.2629L8.40297 11.6759Z" fill="#252528"/>
                </svg>                    
                <p class="article-footer-right-btn-label sp-none">リンクコピー</p>      
              </button>
              <button class="article-footer-right-btn">
                <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M13.795 10.533L20.68 2H17.607L12.352 8.517L7.69 2H1L8.806 12.91L1.47 22H4.544L10.249 14.93L15.31 22H22L13.795 10.533ZM11.415 13.483L9.97 11.464L4.36 3.627H6.67L11.198 9.944L12.641 11.964L18.659 20.373H16.349L11.415 13.483Z" fill="#252528"/>
                </svg>
                <p class="article-footer-right-btn-label sp-none">でシェア</p>      
              </button>
            </div>
          </div>
          <div class="article-ref">
            <p class="article-ref-label">参照元</p>
            <!-- <div class="article-ref-link" set:html={blog.article_ref_link} /> -->
            <!-- <a href={blog.article_ref_link} class="article-ref-link">{blog.article_ref}</a> -->
            <p class="article-ref-siteName">{blog.article_ref}</p>
            <p class="article-ref-articleName">{blog.article_name}</p>
            <!-- <a href={blog.article_link} class="article-ref-name-link">{blog.article_link}</a> -->
            <div class="article-ref-link" set:html={blog.article_link} />
            <p class="article-ref-summary">{blog.article_summary}</p>
          </div>
          <div class="article-comment">
            <p class="article-comment-label">コメント</p>
            <div class="article-comment-inner">
              <div class="article-comment-inputBox">
                <img src={blog.thumbnail.url} alt="" class="article-comment-inputBox-userIcon">
                <textarea placeholder="あなたの意見を書く" class="article-comment-inputBox-input"></textarea>
                <button class="article-comment-inputBox-btn">
                  <p class="article-comment-inputBox-btn-label">投稿</p>
                </button>
              </div>
              <div class="article-comment-header">
                    <p class="article-comment-header-filterLabel">注目順</p>
                    <ul class="article-comment-header-filterList">
                          <li class="article-comment-header-filterList-item">
                            <button class="article-comment-header-filterList-btn active">
                              <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.66 11.2C17.43 10.9 17.15 10.64 16.89 10.38C16.22 9.78 15.46 9.35 14.82 8.72C13.33 7.26 13 4.85 13.95 3C13 3.23 12.17 3.75 11.46 4.32C8.87005 6.4 7.85005 10.07 9.07005 13.22C9.11005 13.32 9.15005 13.42 9.15005 13.55C9.15005 13.77 9.00005 13.97 8.80005 14.05C8.57005 14.15 8.33005 14.09 8.14005 13.93C8.08329 13.8825 8.03583 13.8248 8.00005 13.76C6.87005 12.33 6.69005 10.28 7.45005 8.64C5.78005 10 4.87005 12.3 5.00005 14.47C5.06005 14.97 5.12005 15.47 5.29005 15.97C5.43005 16.57 5.70005 17.17 6.00005 17.7C7.08005 19.43 8.95005 20.67 10.96 20.92C13.1 21.19 15.3901 20.8 17.0301 19.32C18.8601 17.66 19.5 15 18.56 12.72L18.43 12.46C18.22 12 17.66 11.2 17.66 11.2ZM14.5 17.5C14.22 17.74 13.76 18 13.4 18.1C12.28 18.5 11.16 17.94 10.5 17.28C11.69 17 12.4 16.12 12.61 15.23C12.78 14.43 12.46 13.77 12.33 13C12.21 12.26 12.23 11.63 12.5 10.94C12.69 11.32 12.89 11.7 13.13 12C13.9 13 15.11 13.44 15.37 14.8C15.41 14.94 15.43 15.08 15.43 15.23C15.46 16.05 15.1 16.95 14.5 17.5Z" fill="black"/>
                              </svg>
                            </button>
                          </li>
                          <li class="article-comment-header-filterList-item">
                            <button class="article-comment-header-filterList-btn">
                              <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5 15L11.2929 8.70711C11.6834 8.31658 12.3166 8.31658 12.7071 8.70711L19 15" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>   
                            </button>
                          </li>
                          <li class="article-comment-header-filterList-item">
                            <button class="article-comment-header-filterList-btn">
                              <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19 9L12.7071 15.2929C12.3166 15.6834 11.6834 15.6834 11.2929 15.2929L5 9" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>        
                            </button>
                          </li>
                    </ul>
              </div>
              <div class="article-comment-box">
                <div class="article-comment-commentList">
                  <div class="article-comment-commentList-item">
                    <img src={blog.thumbnail.url} alt="" class="img">
                    <div class="article-comment-commentList-item-body">
                      <div class="article-comment-commentList-item-body-header">
                        <button class="userName">tatsu22444</button>
                        <p class="time">20時間前</p>
                        <button class="dots">
                          <span class="dot"></span>
                          <span class="dot"></span>
                          <span class="dot"></span>
                        </button>
                      </div>
                      <p class="comment">この意見はどうかと思う。データか何かあるんですか？</p>
                      <div class="article-comment-commentList-item-body-footer">
                        <button class="article-comment-commentList-item-body-like">
                          <svg width="14" height="14" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 5.04165L10.505 5.51832C10.5692 5.58486 10.6461 5.63778 10.7311 5.67393C10.8162 5.71008 10.9076 5.72871 11 5.72871C11.0925 5.72871 11.1839 5.71008 11.269 5.67393C11.354 5.63778 11.4309 5.58486 11.495 5.51832L11 5.04165ZM8.64054 16.7952C7.25087 15.6997 5.73196 14.63 4.52654 13.2733C3.34587 11.9423 2.52087 10.3904 2.52087 8.37557H1.14587C1.14587 10.8194 2.16337 12.6839 3.49896 14.1863C4.80979 15.6622 6.48179 16.8447 7.78896 17.875L8.64054 16.7952ZM2.52087 8.37557C2.52087 6.40474 3.63462 4.75107 5.15537 4.05532C6.63304 3.37974 8.61854 3.55849 10.505 5.51832L11.495 4.5659C9.25837 2.24032 6.65871 1.85624 4.58337 2.80499C2.55387 3.73357 1.14587 5.88957 1.14587 8.37557H2.52087ZM7.78896 17.875C8.25921 18.2453 8.76337 18.6395 9.27396 18.9383C9.78454 19.2372 10.3675 19.4792 11 19.4792V18.1042C10.7159 18.1042 10.3822 17.9942 9.96787 17.7512C9.55262 17.5092 9.12271 17.1756 8.64054 16.7952L7.78896 17.875ZM14.2111 17.875C15.5183 16.8437 17.1903 15.6631 18.5011 14.1863C19.8367 12.683 20.8542 10.8194 20.8542 8.37557H19.4792C19.4792 10.3904 18.6542 11.9423 17.4735 13.2733C16.2681 14.63 14.7492 15.6997 13.3595 16.7952L14.2111 17.875ZM20.8542 8.37557C20.8542 5.88957 19.4471 3.73357 17.4167 2.80499C15.3414 1.85624 12.7435 2.24032 10.505 4.56499L11.495 5.51832C13.3815 3.5594 15.367 3.37974 16.8447 4.05532C18.3655 4.75107 19.4792 6.40382 19.4792 8.37557H20.8542ZM13.3595 16.7952C12.8774 17.1756 12.4475 17.5092 12.0322 17.7512C11.617 17.9932 11.2842 18.1042 11 18.1042V19.4792C11.6325 19.4792 12.2155 19.2362 12.7261 18.9383C13.2376 18.6395 13.7409 18.2453 14.2111 17.875L13.3595 16.7952Z" fill="#89898b"/>
                          </svg>   
                          <p class="label">120</p>                         
                        </button>
                        <button class="openComment">
                          <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.59195 15.304C2.34395 9.787 6.40296 3.75 12.36 3.75H12.681C14.8206 3.75053 16.8724 4.60072 18.3853 6.11365C19.8982 7.62658 20.7484 9.6784 20.749 11.818C20.7492 12.9976 20.5171 14.1657 20.0658 15.2556C19.6145 16.3454 18.9529 17.3357 18.1188 18.1698C17.2847 19.0039 16.2944 19.6655 15.2045 20.1168C14.1147 20.5681 12.9466 20.8003 11.767 20.8H3.94695C3.79158 20.8001 3.63999 20.752 3.51314 20.6623C3.38629 20.5725 3.29045 20.4456 3.23885 20.2991C3.18725 20.1525 3.18245 19.9935 3.2251 19.8441C3.26775 19.6947 3.35576 19.5622 3.47695 19.465L5.44795 17.882C5.4901 17.8482 5.52018 17.8018 5.5337 17.7495C5.54722 17.6972 5.54345 17.642 5.52295 17.592L4.59195 15.304ZM12.36 5.25C7.46695 5.25 4.13396 10.207 5.97995 14.738L6.91196 17.027C7.05396 17.3759 7.07957 17.7614 6.98498 18.126C6.89039 18.4907 6.68066 18.8151 6.38696 19.051L6.07796 19.3H11.767C12.7496 19.3003 13.7226 19.1069 14.6305 18.731C15.5384 18.3551 16.3633 17.804 17.0581 17.1092C17.7529 16.4143 18.304 15.5894 18.68 14.6815C19.0559 13.7737 19.2492 12.8006 19.249 11.818C19.2484 10.0762 18.5563 8.40593 17.3246 7.17431C16.093 5.94268 14.4227 5.25053 12.681 5.25H12.36Z" fill="#89898b"/>
                          </svg>                        
                          <p class="label">2件のコメントを表示</p>                                
                        </button>
                      </div>
                    </div>
                    <button class="replyBtn">
                      返信
                    </button>
                  </div>
                  <div class="article-comment-commentList-item">
                    <img src={blog.thumbnail.url} alt="" class="img">
                    <div class="article-comment-commentList-item-body">
                      <div class="article-comment-commentList-item-body-header">
                        <button class="userName">tatsu22444</button>
                        <p class="time">20時間前</p>
                        <button class="dots">
                          <span class="dot"></span>
                          <span class="dot"></span>
                          <span class="dot"></span>
                        </button>
                      </div>
                      <p class="comment">この意見はどうかと思う。データか何かあるんですか？</p>
                      <div class="article-comment-commentList-item-body-footer">
                        <button class="article-comment-commentList-item-body-like">
                          <svg width="14" height="14" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 5.04165L10.505 5.51832C10.5692 5.58486 10.6461 5.63778 10.7311 5.67393C10.8162 5.71008 10.9076 5.72871 11 5.72871C11.0925 5.72871 11.1839 5.71008 11.269 5.67393C11.354 5.63778 11.4309 5.58486 11.495 5.51832L11 5.04165ZM8.64054 16.7952C7.25087 15.6997 5.73196 14.63 4.52654 13.2733C3.34587 11.9423 2.52087 10.3904 2.52087 8.37557H1.14587C1.14587 10.8194 2.16337 12.6839 3.49896 14.1863C4.80979 15.6622 6.48179 16.8447 7.78896 17.875L8.64054 16.7952ZM2.52087 8.37557C2.52087 6.40474 3.63462 4.75107 5.15537 4.05532C6.63304 3.37974 8.61854 3.55849 10.505 5.51832L11.495 4.5659C9.25837 2.24032 6.65871 1.85624 4.58337 2.80499C2.55387 3.73357 1.14587 5.88957 1.14587 8.37557H2.52087ZM7.78896 17.875C8.25921 18.2453 8.76337 18.6395 9.27396 18.9383C9.78454 19.2372 10.3675 19.4792 11 19.4792V18.1042C10.7159 18.1042 10.3822 17.9942 9.96787 17.7512C9.55262 17.5092 9.12271 17.1756 8.64054 16.7952L7.78896 17.875ZM14.2111 17.875C15.5183 16.8437 17.1903 15.6631 18.5011 14.1863C19.8367 12.683 20.8542 10.8194 20.8542 8.37557H19.4792C19.4792 10.3904 18.6542 11.9423 17.4735 13.2733C16.2681 14.63 14.7492 15.6997 13.3595 16.7952L14.2111 17.875ZM20.8542 8.37557C20.8542 5.88957 19.4471 3.73357 17.4167 2.80499C15.3414 1.85624 12.7435 2.24032 10.505 4.56499L11.495 5.51832C13.3815 3.5594 15.367 3.37974 16.8447 4.05532C18.3655 4.75107 19.4792 6.40382 19.4792 8.37557H20.8542ZM13.3595 16.7952C12.8774 17.1756 12.4475 17.5092 12.0322 17.7512C11.617 17.9932 11.2842 18.1042 11 18.1042V19.4792C11.6325 19.4792 12.2155 19.2362 12.7261 18.9383C13.2376 18.6395 13.7409 18.2453 14.2111 17.875L13.3595 16.7952Z" fill="#89898b"/>
                          </svg>   
                          <p class="label">120</p>                         
                        </button>
                        <button class="openComment">
                          <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.59195 15.304C2.34395 9.787 6.40296 3.75 12.36 3.75H12.681C14.8206 3.75053 16.8724 4.60072 18.3853 6.11365C19.8982 7.62658 20.7484 9.6784 20.749 11.818C20.7492 12.9976 20.5171 14.1657 20.0658 15.2556C19.6145 16.3454 18.9529 17.3357 18.1188 18.1698C17.2847 19.0039 16.2944 19.6655 15.2045 20.1168C14.1147 20.5681 12.9466 20.8003 11.767 20.8H3.94695C3.79158 20.8001 3.63999 20.752 3.51314 20.6623C3.38629 20.5725 3.29045 20.4456 3.23885 20.2991C3.18725 20.1525 3.18245 19.9935 3.2251 19.8441C3.26775 19.6947 3.35576 19.5622 3.47695 19.465L5.44795 17.882C5.4901 17.8482 5.52018 17.8018 5.5337 17.7495C5.54722 17.6972 5.54345 17.642 5.52295 17.592L4.59195 15.304ZM12.36 5.25C7.46695 5.25 4.13396 10.207 5.97995 14.738L6.91196 17.027C7.05396 17.3759 7.07957 17.7614 6.98498 18.126C6.89039 18.4907 6.68066 18.8151 6.38696 19.051L6.07796 19.3H11.767C12.7496 19.3003 13.7226 19.1069 14.6305 18.731C15.5384 18.3551 16.3633 17.804 17.0581 17.1092C17.7529 16.4143 18.304 15.5894 18.68 14.6815C19.0559 13.7737 19.2492 12.8006 19.249 11.818C19.2484 10.0762 18.5563 8.40593 17.3246 7.17431C16.093 5.94268 14.4227 5.25053 12.681 5.25H12.36Z" fill="#89898b"/>
                          </svg>                        
                          <p class="label">2件のコメントを表示</p>                                
                        </button>
                      </div>
                    </div>
                    <button class="replyBtn">
                      返信
                    </button>
                  </div>
                </div>
                <!-- <div class="article-comment-reply">
                  <div class="article-comment-reply-top">
                    <div class="article-comment-reply-top-content">
                      <div class="article-comment-reply-top-content-userData">
                        <img src={blog.thumbnail.url} alt="" class="article-comment-reply-top-content-userData-img">
                        <div class="article-comment-reply-top-content-userData-right">
                          <a href="" class="article-comment-reply-top-content-userData-userId">tatsu22444</a>
                          <p class="article-comment-reply-top-content-userData-time">
                            <time datetime="">7</time>時間前
                          </p>
                        </div>
                      </div>
                      <p class="article-comment-reply-top-content-text">ここにユーザーのコメントが表示されます</p>
                    </div>
                    <ul class="article-comment-reply-top-iconList">
                      <li class="article-comment-reply-top-iconList-item">
                        <button class="article-comment-reply-top-iconList-item-btn">
                          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 5.04165L10.505 5.51832C10.5692 5.58486 10.6461 5.63778 10.7311 5.67393C10.8162 5.71008 10.9076 5.72871 11 5.72871C11.0925 5.72871 11.1839 5.71008 11.269 5.67393C11.354 5.63778 11.4309 5.58486 11.495 5.51832L11 5.04165ZM8.64054 16.7952C7.25087 15.6997 5.73196 14.63 4.52654 13.2733C3.34587 11.9423 2.52087 10.3904 2.52087 8.37557H1.14587C1.14587 10.8194 2.16337 12.6839 3.49896 14.1863C4.80979 15.6622 6.48179 16.8447 7.78896 17.875L8.64054 16.7952ZM2.52087 8.37557C2.52087 6.40474 3.63462 4.75107 5.15537 4.05532C6.63304 3.37974 8.61854 3.55849 10.505 5.51832L11.495 4.5659C9.25837 2.24032 6.65871 1.85624 4.58337 2.80499C2.55387 3.73357 1.14587 5.88957 1.14587 8.37557H2.52087ZM7.78896 17.875C8.25921 18.2453 8.76337 18.6395 9.27396 18.9383C9.78454 19.2372 10.3675 19.4792 11 19.4792V18.1042C10.7159 18.1042 10.3822 17.9942 9.96787 17.7512C9.55262 17.5092 9.12271 17.1756 8.64054 16.7952L7.78896 17.875ZM14.2111 17.875C15.5183 16.8437 17.1903 15.6631 18.5011 14.1863C19.8367 12.683 20.8542 10.8194 20.8542 8.37557H19.4792C19.4792 10.3904 18.6542 11.9423 17.4735 13.2733C16.2681 14.63 14.7492 15.6997 13.3595 16.7952L14.2111 17.875ZM20.8542 8.37557C20.8542 5.88957 19.4471 3.73357 17.4167 2.80499C15.3414 1.85624 12.7435 2.24032 10.505 4.56499L11.495 5.51832C13.3815 3.5594 15.367 3.37974 16.8447 4.05532C18.3655 4.75107 19.4792 6.40382 19.4792 8.37557H20.8542ZM13.3595 16.7952C12.8774 17.1756 12.4475 17.5092 12.0322 17.7512C11.617 17.9932 11.2842 18.1042 11 18.1042V19.4792C11.6325 19.4792 12.2155 19.2362 12.7261 18.9383C13.2376 18.6395 13.7409 18.2453 14.2111 17.875L13.3595 16.7952Z" fill="#fff"/>
                          </svg> 
                          <p class="article-comment-reply-top-iconList-item-btn-label">123</p>
                        </button>
                      </li>
                      <li class="article-comment-reply-top-iconList-item">
                        <button class="article-comment-reply-top-iconList-item-btn">
                          <span class="article-comment-reply-top-iconList-item-btn-dot"></span>
                          <span class="article-comment-reply-top-iconList-item-btn-dot"></span>
                          <span class="article-comment-reply-top-iconList-item-btn-dot"></span>
                        </button>
                      </li>
                    </ul>
                  </div>
                  <div class="article-comment-reply-inputBox">
                    <input type="text" placeholder="あなたの意見を書く" class="input">
                    <button class="btn">投稿</button>
                  </div>
                  <div class="article-comment-reply-listBox">
                    <ol class="article-comment-reply-list">
                      <li class="article-comment-reply-list-item">
                        <div class="dots">
                          <span class="dot"></span>
                          <span class="dot"></span>
                          <span class="dot"></span>
                        </div>
                        <img src="" alt="" class="userIcon">
                        <div class="article-comment-reply-list-item-middle">
                          <a href="" class="userName">tatsu22444</a>
                          <p class="opinion">ここにコメ主の意見のテキストが表示されます。</p>
                        </div>
                        <button class="article-comment-reply-list-item-btn">
                          返信
                        </button>
                      </li>
                      <li class="article-comment-reply-list-item">
                        <div class="dots">
                          <span class="dot"></span>
                          <span class="dot"></span>
                          <span class="dot"></span>
                        </div>
                        <img src="" alt="" class="userIcon">
                        <div class="article-comment-reply-list-item-middle">
                          <a href="" class="userName">tatsu22444</a>
                          <p class="opinion">ここにコメ主の意見のテキストが表示されます。</p>
                        </div>
                        <button class="article-comment-reply-list-item-btn">
                          返信
                        </button>
                      </li>
                    </ol>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </section>
      </div>
    </article>
    <div class="other-article">
      <div class="other-article-inner">
          <a href="/" class="other-article-toTop">トップページに戻る</a>
          <p class="other-article-label">"Technology"の他の記事</p>
          <ArticleList />
      </div>
    </div>
  </div>
  <div class="r-container">
    <div class="r-inner">
        <div class="r-box">
            <p class="r-box-label">おすすめ</p>
            <ul class="r-box-list">
                <li class="r-box-list-item">
                    <a href="" class="r-box-list-item-link">
                        <img src="../unsplash_Aq32wiCKqQE.png" alt="" class="r-box-list-item-img" loading="lazy">
                        <div class="r-box-list-item-textBox">
                            <h4 class="r-box-list-item-title">AIの発達により、問題解決能力/論理的思考力の低下へ。AIの発達により、問題解決能力/論理的思考力の低下へ</h4>
                        </div>
                    </a>
                </li>
                <li class="r-box-list-item">
                    <a href="" class="r-box-list-item-link">
                        <img src="../unsplash_Aq32wiCKqQE.png" alt="" class="r-box-list-item-img" loading="lazy">
                        <div class="r-box-list-item-textBox">
                            <h4 class="r-box-list-item-title">AIの発達により、問題解決能力/論理的思考力の低下へ。AIの発達により、問題解決能力/論理的思考力の低下へ</h4>
                        </div>
                    </a>
                </li>
                <li class="r-box-list-item">
                    <a href="" class="r-box-list-item-link">
                        <img src="../unsplash_Aq32wiCKqQE.png" alt="" class="r-box-list-item-img" loading="lazy">
                        <div class="r-box-list-item-textBox">
                            <h4 class="r-box-list-item-title">AIの発達により、問題解決能力/論理的思考力の低下へ。AIの発達により、問題解決能力/論理的思考力の低下へ</h4>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="r-box">
            <p class="r-box-label">お知らせ</p>
            <ul class="r-box-list">
                <li class="r-box-list-item">
                    <a href="" class="r-box-list-item-link">
                        <img src="../unsplash_Aq32wiCKqQE.png" alt="" class="r-box-list-item-img" loading="lazy">
                        <div class="r-box-list-item-textBox">
                            <h4 class="r-box-list-item-title">AIの発達により、問題解決能力/論理的思考力の低下へ。AIの発達により、問題解決能力/論理的思考力の低下へ</h4>
                        </div>
                    </a>
                </li>
                <li class="r-box-list-item">
                    <a href="" class="r-box-list-item-link">
                        <img src="../unsplash_Aq32wiCKqQE.png" alt="" class="r-box-list-item-img" loading="lazy">
                        <div class="r-box-list-item-textBox">
                            <h4 class="r-box-list-item-title">AIの発達により、問題解決能力/論理的思考力の低下へ。AIの発達により、問題解決能力/論理的思考力の低下へ</h4>
                        </div>
                    </a>
                </li>
                <li class="r-box-list-item">
                    <a href="" class="r-box-list-item-link">
                        <img src="../unsplash_Aq32wiCKqQE.png" alt="" class="r-box-list-item-img" loading="lazy">
                        <div class="r-box-list-item-textBox">
                            <h4 class="r-box-list-item-title">AIの発達により、問題解決能力/論理的思考力の低下へ。AIの発達により、問題解決能力/論理的思考力の低下へ</h4>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

  <!-- <article class="article">
      <div class="inner inner--article">
          <div class="article__container">
              <section class="article-main">
                  <img class="article__thumbnail" src={blog.thumbnail.url} alt=""  />
                  <div class="article__data">
                      <p class="article__name">作者 : {blog.tag}</p>
                      <div class="article__times">
                          <p class="article__publish">
                              <time datetime={blog.publishedAt.substring(0, 10)}>公開日 : {blog.publishedAt.substring(0, 10)}</time>
                          </p>
                          <p class="article__updated">
                              <time datetime={blog.updatedAt.substring(0, 10)}>最終更新日 : {blog.updatedAt.substring(0, 10)}</time>
                          </p>
                      </div>
                  </div>
                  <h1 class="article__title">{blog.title}</h1>
                  <div class="article__text" id="js-article__text" set:html={blog.content} />
                  <button class="article__share">
                      <a href={sns_share}
                            rel="nofollow noopener" 
                            target="_blank"
                            >Xでシェア
                      </a>
                  </button>
              </section>
              <aside class="article-aside">
                  <div class="article-aside__inner">
                      <div class="article-aside__container">
                          <h3 class="article-aside__title">目次</h3>
                          <ol class="article-aside__list" id="js-article-list">
                          </ol>
                      </div>
                  </div>
              </aside>
          </div>
      </div>
  </article> -->
</main>
</Layout>

<!-- <nav class="pan">
    <ol class="pan-list">
        <li class="pan-list__item">
            <a href="https://tat-design22444.com/" class="pan-list__link">トップ</a>
        </li>
        <li class="pan-list__item">
            <a href="https://tat-design22444.com/blogs/" class="pan-list__link">ブログ一覧</a>
        </li>
        <li class="pan-list__item" id="js-pan-label">
            {blog.title}
        </li>
    </ol>
</nav> -->

<style lang="scss">
  .main{
    position: relative;
    // top: 104px;
    display: flex;
	justify-content: space-between;
	max-width: 1600px;
	margin-inline: auto;
	margin-left: 304px;
	gap: 40px;
	width: calc(80vw - 96px);
	max-width: calc(100% - 2rem);
	color: #252528;
	font-size: 20px;
	line-height: 1.6;

  @media screen and (max-width:1120px) {
    width: calc(80vw - 112px);
      flex-direction: column;
			gap: 80px;
      margin-left: auto;
      margin-right: 24px;
    }

		@media screen and (max-width:834px) {
			top: 0;
      margin-inline: auto;
			margin-top: 120px;
			width: calc(100% - 48px);
    }

		@media screen and (max-width:440px) {
      width: calc(100% - 32px);
			margin-top: 96px;
    }

    &-inner{
			position: relative;
			top: 80px;
			width: 100%;
			margin-inline: auto;

			@media screen and (max-width:834px) {
				top: 0;
      }

		@media screen and (max-width:440px) {
			// margin-top: 80px;
    }
		}
  }

  .pan{
    max-width: 100%;
		position: absolute;
		top: 40px;
		z-index: 99;

		@media screen and (max-width:834px) {
			display: none;
    }

		&-list{
			display: flex;
			align-items: center;
			gap: 24px;
			// border: 1px solid #252528;
		}

		&-item{
			position: relative;
			// background-color: #252528;
      border: 1px solid #252528;
		  border-radius: 8px;

			&:first-of-type::before{
				content: "";
			}

			&::before{
				content: ">";
				position: absolute;
				top: 50%;
				left: -18px;
				transform: translateY(-50%);
			}

			&-link{
				display: block;
				padding: 8px 16px;
				font-size: 12px;
				font-weight: 600;
				color: #252528;
			}
		}
	}

  .sp-none{
    display: none;
  }

  .article{
    width: 100%;
    margin-top: 16px;

    &-pan{
      display: none;
      @media screen and (max-width:834px) {
				display: flex;
      }

      &List{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;

        &-item{
          position: relative;
          font-size: 14px;
          font-weight: 500;
          color: #252528;

          &-link{
            position: relative;
            font-weight: 500;
            color: #4b8ec5;
            display: block;

            &::after{
              content: ">";
              padding-left: 8px;
            }
          }
        }
      }
    }

    &-inner{
      
    }

    &-box{}

    &-thumbnail{
      width: 100%;
      object-fit: cover;
      aspect-ratio: 16/9;
      border-radius: 4px;
    }

    &-data{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
      font-size: 12px;
      font-weight: 600;
      color: #595959;
    }

    &-tag{
    //   font-size: 12px;
    //   font-weight: 600;
    //   color: #595959;
    }
    
    &-publish{
    //   font-size: 12px;
    //   font-weight: 600;
    //   color: #595959;
    }

    &-title{
      margin-top: 24px;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.6;
      color: #252528;

      @media screen and (max-width:440px) {
        margin-top: 16px;
        font-size: 20px;
        line-height: 1.6;
      }
    }

    &-text{
      margin-top: 24px;
      font-size: 16px;
      font-weight: 500;
      line-height: 2.2;
      color: #252528;

      @media screen and (max-width:440px) {
        line-height: 2;
      }
    }

    &-footer{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 40px;

      @media screen and (max-width:440px) {
        // justify-content: center;
      }

      &-left{
        display: flex;
        align-items: center;
        gap: 16px;
        
        @media screen and (max-width:440px) {
            gap: 8px;
          }

        &-btn{
          display: flex;
          align-items: center;
          gap: 4px;
          padding: 8px 16px;
          border-radius: 100px;
          border: 1px solid #636366;

          @media screen and (max-width:440px) {
            padding: 6px 12px;
          }

          &-icon{
            // width: px;
            // height: 40px;
            // padding: 16px;
            // border-radius: 100px;
            // border: 1px solid #636366;
          }

          &-label{
            font-size: 12px;
            font-weight: 400;
            color: #636366;
          }
        }
      }

      &-right{
        display: flex;
        align-items: center;
        gap: 16px;

        &-btn{
            display: flex;
            align-items: center;
            gap: 4px;
            padding: 8px 16px;
            border-radius: 100px;
            border: 1px solid #252528;

            @media screen and (max-width:440px) {
            padding: 6px 12px;
          }

            &-label{
              font-size: 12px;
              font-weight: 400;
              color: #252528;
            }
        }
      }
    }

    &-comment{
      position: relative;
      margin-top: 40px;
      padding-top: 40px;
      width: 100%;

      &::after{
        content: "";
        position: absolute;
        top: 0;
        width: 120px;
        height: 1px;
        background-color: #252528;
      }

      &-label{
        font-size: 16px;
        font-weight: 500;
        color: #252528;
      }

      &-inner{
        width: 100%;
      }

      &-box{
        width: 100%;
        margin-top: 16px;
      }

      &-commentList{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        &-item{
          width: 100%;
          position: relative;
          display: flex;
          padding: 16px 8px;
          border-radius: 8px;
          border: 1px solid #89898b;

        //   >.openComment{
        //     position: absolute;
        //     bottom: -11%;
        //     left: 50%;
        //     transform: translateX(-50%);
        //     padding: 4px 12px;
        //     border-radius: 100px;
        //     font-size: 12px;
        //     font-weight: 600;
        //     color: #89898b;
        //     border: 1px solid #89898b;
        //     background-color: #ECEBF3;
        //   }

          >.img{
            width: 40px;
            height: 40px;
            border-radius: 100px;
          }

          >.replyBtn{
            display: flex;
            align-items: center;
            align-self: center;
            padding: 8px 16px;
            border-radius: 100px;
            background-color: #252528;
            color: #fff;
            font-size: 12px;
            font-weight: 600;
          }

          &-body{
            margin-left: 8px;
            display: flex;
            flex: 1;
            flex-direction: column;
            
            >.comment{
              padding: 16px 0;
              font-size: 16px;
              font-weight: 500;
              color: #252528;
            }

            &-header{
              display: flex;
              align-items: center;
              gap: 8px;

              >.userName{
                font-size: 12px;
                font-weight: 500;
                color: #252528;
                line-height: 1;
                border-bottom: 1px solid #252528;
              }

              >.time{
                color: #252528;
                font-size: 12px;
                font-weight: 500;
              }

              >.dots{
                display: flex;
                align-items: center;
                margin-left: auto;
                gap: 3px;
                padding: 8px;

                >.dot{
                  width: 3px;
                  height: 3px;
                  border-radius: 100px;
                  background-color: #252528;
                }
              }
            }

            &-footer{
              width: 100%;
              display: flex;
              align-items: center;
              gap: 16px;

              >.openComment{
                display: flex;
                align-items: center;
                gap: 4px;

                >.label{
                  font-size: 12px;
                  font-weight: 600;
                  color: #89898b;
                  line-height: 1;
                  border-bottom: 1px solid #89898b;
                }
              }
            }

            &-like{
              display: flex;
              align-items: center;
              gap: 4px;

              >.label{
                font-size: 12px;
                font-weight: 00;
                color: #89898b;
              }
            }
          }
        }
      }

      &-main{
        width: 50%;
        border-right: 1px solid #595959;
      }

      &-inputBox{
        display: flex;
        align-items: center;
        margin-top: 8px;
        padding: 12px 8px;
        border-radius: 8px;
        border: 1px solid #252528;

        &-userIcon{
            width: 40px;
            height: 40px;
            border-radius: 100px;
            object-fit: cover;
        }

        &-input{
            max-width: 100%;
          flex: 1;
          padding-left: 8px;
          font-size: 14px;
          font-weight: 500;
          color: #252528;
        }

        &-btn{
          display: block;
          padding: 8px 16px;
          font-size: 12px;
          font-weight: 600;
          color: #fff;
          border-radius: 100px;
          background-color: #252528;
        }
      }

      &-header{
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-filterLabel{
          font-size: 16px;
          font-weight: 600;
          color: #252528;
        }

        &-filterList{
          display: flex;
          align-items: center;
          gap: 8px;

          &-item{
            >.active{
              border: 1px solid #252528;
            }
          }
          
          &-btn{
            display: flex;
            padding: 4px 8px;
            border-radius: 100px;
          }
        }
      }

      &-reply{
        width: 50%;
        // padding: 16px;

        &-top{
          width: 100%;

          &-content{
            width: 100%;

            &-userData{
              display: flex;
              color: #fff;
              gap: 8px;
              padding: 16px;

              &-img{
                width: 32px;
                height: 32px;
                border-radius: 100px;
              }

              &-right{
                display: flex;
                flex: 1;
                align-items: center;
                justify-content: space-between;
                font-size: 12px;
              }

              &-userId{
                line-height: 1;
                border-bottom: 1px solid #fff;
              }
            }

            &-text{
              padding: 8px 0 16px 24px;
              font-size: 14px;
              font-weight: 500;
              color: #fff;
            }
          }

          &-iconList{
            width: 100%;
            padding: 8px 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid #595959;
            border-bottom: 1px solid #595959;

            &-item{
                // width: 100%;
              
                &-btn{
                  display: flex;
                  align-items: center;
                  gap: 4px;

                  &-label{
                    color: #fff;
                    font-size: 12px;
                  }
                }

                &-btn{
                  display: flex;
                  align-items: center;
                  gap: 4px;

                  &-dot{
                    width: 3px;
                    height: 3px;
                    border-radius: 100px;
                    background-color: #fff;
                  }
                }
            }
          }
        }

        &-inoutBox{
          
        }
      }


    //   &-replyBox{
    //     width: 50%;
    //     background-color: #252528;
    //     height: 300px;
    //     border-radius: 8px;

    //     &-to{
    //       color: #fff;
    //     }
    //   }
    }

    &-ref{
      position: relative;
      padding-top: 40px;
      margin-top: 24px;

      &::after{
        content: "";
        position: absolute;
        top: 0;
        width: 120px;
        height: 1px;
        background-color: #252528;
      }

      &-label{
        font-size: 14px;
        font-weight: 500;
        color: #252528;
      }

      &-siteName{
        margin-top: 24px;
        font-size: 14px;
        font-weight: 500;
        color: #252528;
      }

      &-articleName{
        margin-top: 8px;
        font-size: 16px;
        font-weight: 500;
        color: #252528;
      }

      &-link{
        display: block;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 600;
        color: #4b8ec5;
      }
    }
  }

  .r-container{
    position: relative;
    top: 80px;
		overflow: hidden;
		width: 100%;
		max-width: 280px;

		@media screen and (max-width:1120px) {
      max-width: calc(100% - 24px);
			margin-right: 24px;
    }
	}

	.r-inner{
		display: flex;
		flex-direction: column;
		gap: 40px;
		// align-items: center;
	}

	.r-box{
		display: flex;
		flex-direction: column;
	}

	.r-box-label{
		font-size: 14px;
		font-weight: 600;
		color: #252528;
	}

	.r-box-list{
		margin-top: 16px;
		display: flex;
		flex-direction: column;
		gap: 16px;

		&-item{
			width: 100%;

			&-link{
				display: flex;
				gap: 12px;
			}

			&-img{
				width: 45%;
				// height: 120px;
				aspect-ratio: 1/1;
				object-fit: cover;
				border-radius: 4px;

				@media screen and (max-width:1120px) {
          width: 180px;
					aspect-ratio: 16/9;
        }
			}

			&-title{
				font-size: 12px;
				font-weight: 600;
				color: #252528;
				padding: 4px 0;
				letter-spacing: .05em;

				@media screen and (max-width:1120px) {
          font-size: 14px;
        }
			}
		}
	}

    .other-article{
      position: relative;
      margin-top: 40px;
      padding-top: 40px;

      &::after{
        content: "";
        position: absolute;
        top: 0;
        width: 120px;
        height: 1px;
        background-color: #252528;
      }

      &-inner{
        width: 100%;
      }

      &-toTop{
        padding: 12px 16px;
        border-radius: 100px;
        background-color: #4b8ec5;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
      }

      &-label{
        margin-top: 40px;
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: 500;
        color: #252528;
      }
    }
</style>

<script>
const pan_label = document.getElementById('js-pan-label');
if (pan_label) {
    const str = pan_label.textContent || ""; // textContentがnullの場合は空文字を代入
    const len = 24;
    if (str.length > len) {
        pan_label.textContent = str.substring(0, len) + "...";
    }
}

</script>

<!-- 
<script>
    const pan_label = document.getElementById('js-pan-label')
	const str = pan_label.textContent
	const len = 16
	if(str.length > len) {
		pan_label.textContent = str.substring(0, len) + "..."
	}

    document.querySelectorAll('#js-article__text').forEach((article_text)=>{
        const hTag = article_text.querySelectorAll('h2')
        // const article_list = document.getElementById('js-article-list')
        document.querySelectorAll('#js-article-list').forEach((article_list)=>{
        let h2Count = 1
        // console.log(artile_list)
        for (let i = 0; i < hTag.length; i++) {
            const hTagElem = hTag[i]
            if (hTagElem.tagName == "H2") {
                const aside_li = document.createElement("li")
                const aside_aTag = document.createElement("a")
                const aside_Nestlist = document.createElement("ol")
                // aside_Nestlist.classList = `article_list${h2Count}`
                aside_aTag.textContent = hTagElem.textContent
                aside_aTag.href = "#"+hTagElem.id;
                article_list.appendChild(aside_li)
                aside_li.appendChild(aside_aTag)
                aside_li.appendChild(aside_Nestlist)
                aside_aTag.classList.add("article-aside__link")
                h2Count++

                // console.log(hTag[1])

                window.addEventListener('scroll', ()=>{
                    if(hTagElem.getBoundingClientRect().top < 280) {
                        aside_aTag.classList.add("article-aside__link--in")
                        aside_aTag.classList.remove("article-aside__link--out")
                    } else {
                        aside_aTag.classList.add("article-aside__link--out")
                        aside_aTag.classList.remove("article-aside__link--in")
                    }
                })

            } else {
                // const aside_li = document.createElement("li")
                const aside_aTag = document.createElement("a")
                aside_aTag.textContent = hTagElem.textContent
                aside_aTag.href = "#"+hTagElem.id;
                // const aside_Nestlist = document.querySelector(`.artile_list${h2Count-1}`)
            }
        }
    })
    })
</script> -->